<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link rel="~/lib/bootstrap/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script href="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
